<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.publish.monitorsystem"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name=".application.SysApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".app.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".app.LocalActivity"/>
        <activity android:name=".app.AboutActivity"/>
        <activity android:name=".app.FeedBackActivity"/>
        <activity android:name=".app.MainActivity"/>
        <activity android:name=".app.EqptReadActivity"/>
        <activity android:name=".app.InventoryActivity"/>
        <activity android:name=".app.InventoryhandActivity"/>
        <activity android:name=".app.InventorySelActivity"/>
        <activity android:name=".app.SerachListActivity"/>
        <activity android:name=".app.SearchActivity"/>

        <receiver android:name=".app.USBBroadcastReceiver" >
            <intent-filter android:priority="900" >
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".app.BootBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>